body,
html {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    min-height: 100%;
    gap: 40px;
}

header {
    background-color: rgb(78, 78, 78);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    background-color: rgb(78, 78, 78);
    width: 80%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
    .container {
        width: 640px;
    }
}

.container > h2 {
    text-align: center;
}

.card {
    background-color: rgb(63, 63, 63);
    display: flex;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-left-column {
    flex: 1;
}

.card-right-column {
    display: flex;
    align-items: center;
    justify-content: end;
}