/* General style */
:root {
    --black: black;
    --darkest: #18122B;
    --dark: #393053;
    --light: #443C68;
    --lightest: #635985;
    --white: white;
}

body {
    margin: 0;
    align-items: center;
    color: white;
    font-family: Oswald, sans-serif;
}

/* Sections */
.header, .footer {
    background-color: var(--darkest);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    font-size: 1.2rem;
}

.main {
    display: flex;
}

/* Filter form */
.filter-form {
    padding: 0px 25px 25px 25px;
    background-color: var(--light);
}

.filter-form ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 5px 0;
}

.filter-form__all-button, .filter-form__none-button {
    background-color: var(--dark);
    color: white;
    border: 1px solid white;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 60px;
}

.filter-form__all-button:hover, .filter-form__none-button:hover {
    background-color: var(--lightest);
}

/* Content secton */
.content {
    flex: 1;
    background-color: var(--dark);
    width: 80%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Content section cards */
.card {
    background-color: var(--light);
    display: flex;
    padding: 10px;
    width: 350px;
}

.card--hidden {
    display: none;
}

.card__left-column {
    flex: 1;
}

.card__right-column {
    display: flex;
    align-items: center;
}