/* General style */
:root {
    --black: black;
    --darkest: #18122B;
    --dark: #393053;
    --light: #443C68;
    --lightest: #635985;
    --white: white;
    
    font-family: Oswald, sans-serif;
    color: white;
}

/* General layout */
body {
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    font-size: 1.1rem;
    min-height: 100vh;
}

@media only screen and (max-width: 650px)  {
    body {
        grid-template-columns: 1fr;
    }
}

.header, .footer {
    background-color: var(--darkest);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
}

.header {
    font-size: 2rem;
    font-weight: bold;
}

.footer {
    font-size: 1.2rem;
    grid-row: 3 / 4;
}

/* Filter form */
.filter-form {
    padding: 0px 25px 25px 25px;
    background-color: var(--light);
}

@media only screen and (max-width: 650px) {
    .filter-form {
        box-sizing: border-box;
        height: 100%;
        width: 0;
        padding: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    .filter-form.overlay-enabled {
        width: 100%;
        padding: 0px 25px 25px 25px;
        position: fixed;
    }

    .filter-form.overlay-enabled .filter-form__toggle {
        position: fixed;
    }
}

.filter-form h2 {
    margin-bottom: 10px;
}

.filter-form fieldset {
    margin-bottom: 10px;
}

.filter-form ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 5px 0;
}

.filter-form__misc ul {
    margin: 0;
    padding: 0;
}

.filter-form__all-button, .filter-form__none-button {
    background-color: var(--dark);
    color: white;
    border: 1px solid white;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 60px;
}

.filter-form__all-button {
    margin-right: 5px;
}

.filter-form__all-button:hover, .filter-form__none-button:hover {
    background-color: var(--lightest);
}

.filter-form__all-button:active, .filter-form__none-button:active {
    background-color: var(--darkest);
}

/* Filter form toggle open/close buttons */
.filter-form__toggle {
    display: none;
    width: 50px;
    height: 50px;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--lightest);
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    will-change: transform;
}

.filter-form__toggle--open {
    position: fixed;
}

.filter-form__toggle:hover {
    background-color: var(--white);
    color: var(--lightest);
}

.filter-form__toggle:active {
    background-color: var(--lightest);
    color: var(--white);
}

@media only screen and (max-width: 650px) {
    .filter-form__toggle {
        display: block;
    }

    body.overlay-enabled {
        overflow: hidden;
    }
}

/* Content secton */
.content {
    background-color: var(--dark);
    padding: 0 20px 20px 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
}

/* Content section cards */
.card {
    background-color: var(--light);
    display: flex;
    padding: 10px;
}

.card__left-column {
    flex: 1;
}

.card__right-column {
    display: flex;
    align-items: center;
}

/* Special */
.hidden {
    display: none;
}